<img class="img-fluid" src="/assets/images/agri1.jpg" alt="balajiexim" title="balajiexim" style="margin-top: -20px;">
<div class="text-justify p-3 bckclr2 t1">
    <a class="clr" [routerLink]="['/home']"><i class="fa fa-angle-double-left"></i> Home / </a>
    <a class="clr" [routerLink]="['/about']"> About Us <i class="fa fa-angle-double-right"></i></a>
</div>
<div class="container-fluid mt-5">
    <div class="row mt-5 p-1">
        <div class="col-sm-5 mt-3">
            <img class="img-fluid mt-5 img-thumbnail" src="assets/images/slide2.jpg" alt="balajiexim" title="balajiexim">
        </div>
        <div class="col-sm-7 mt-1">
            <h2 class="m1-auto fntbold clr1"> Who We Are </h2>
            <p class="text-justify mt-3">
                <font size="4">We strive to be a leader in the food supply industry by continually satisfying our customers with commitment and dedication to be the trusted source for Organic and Natural Foods.We deal in farm fresh food products directly from its country of origin.We are a quality conscious organization and therefore lay extra emphasis upon the quality of products offered by us.By assuring product safety, reliability and consistency, we are guaranteeing you quality ingredients, essential for the flavour and functionality of your products.Freshness, reliability and food safety are the key priorities and we distribute products of all quality from, both local sources and by importing goods. We are constantly striving to be transparent with quality service and the best products available.
           </font>
                </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-5 p-3">
        <div class="col-sm-4">
            <h4 class="text-center clr1 fntbold"> Vision </h4>
            <p class="text-justify">
               <font size="4">“We source the best from the best. It’s about knowing the difference between offering good enough and premium quality. We see that difference clearly and that vision is the secret behind our ability to provide the right ingredients.”</font>
            </p>
        </div>
        <div class="col-sm-4 mt-2 text-center">
            <img class="img-fluid" src="assets/images/16.png" alt="Vision & Mission" title="Vision & Mission">
        </div>
        <div class="col-sm-4">
            <h4 class="text-center clr1 fntbold"> Values </h4>
            <p class="text-justify">
                <font size="4"> To be an outstanding food stuff company delivering unrivalled value to our customers and suppliers through a passionate commitment towards service, innovation and performance. It's about knowing who we are - our culture, our vision, our mission and the values that guide us. These are what define us.
            </font>
                </p>
        </div>
    </div>
</div>
<h4 class="text-center mt-5 fntbold clr1"> Mission </h4>
<!--<div class="marginleft mt-3">-->
    <p class="text-center mt-3">
        <!--<i class="fntsize fa fa-caret-right"></i>-->
        <font size="4">  To be the most professional, trustworthy and innovative company in the foodstuff industry, providing incomparable service to our clients is our number one priority. We believe it is the foundation of business success and we are keenly committed to understanding what our customer wants." 
    </font>
        </p>
    <!--<p class="text-justify">
        <i class="fntsize fa fa-caret-right"></i>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
    <p class="text-justify">
        <i class="fntsize fa fa-caret-right"></i>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
    <p class="text-justify">
        <i class="fntsize fa fa-caret-right"></i>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>-->
<div class="bckimg2 p-4 mt-5">
    <h2 class="clr1 fntbold"> Why us? </h2>
    <p class="text-justify mt-3">
        <i class="fntsize2 fa fa-caret-right"></i>
        We source only quality products that are sustainably produced by organic or biodynamic methods, thereby creating a distribution chain that is both ecologically and socially responsible. Providing high-quality, local, fresh, organic & natural foods and related products. 
    </p>
    <p class="text-justify mt-3">
        <i class="fntsize2 fa fa-caret-right"></i>
        We deliver what we promise – all our products are examined under the highest standards of quality control before delivery. 
    </p>
    <p class="text-justify mt-3">
        <i class="fntsize2 fa fa-caret-right"></i>
        Our healthiest food products comes from a clean environment with biologically active soils, and from land that is free from agricultural chemicals and synthetic fertilizers. 
    </p>
    <p class="text-justify mt-3">
        <i class="fntsize2 fa fa-caret-right"></i>
        We never compromise on the quality of the products and always strive to deliver the best product to our customers. Our products shall speak for themselves. Or rather taste for themselves just how perfect our products are. 
    </p>
</div>