<!-- Container (TOUR Section) -->
<!-- <div class="">
  <div class="dusty-grass-gradient"></div>
  <div class="container prdContainer">
    <h3 class="text-center">OUR PRODUCTS</h3>
    <p class="text-center">Lorem ipsum we'll play you some music.<br> Remember to book your tickets!</p>
    <div class="row text-center mt-20">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/product1.jpg" alt="Paris" style="width:100%;height: 204px;" class="img-responsive">
          <p><strong>PRODUCT1</strong></p><hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/product2.jpg" alt="New York" style="width:100%;height: 204px;" class="img-responsive">
          <p><strong>PRODUCT2</strong></p><hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/product3.jpg" alt="San Francisco" style="width:100%;height: 204px;" class="img-responsive">
          <p><strong>PRODUCT3</strong></p><hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="thumbnail">
            <img src="assets/images/product1.jpg" alt="Paris" style="width:100%;height: 204px;" class="img-responsive">
            <p><strong>PRODUCT4</strong></p><hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="assets/images/product2.jpg" alt="New York" style="width:100%;height: 204px;" class="img-responsive">
            <p><strong>PRODUCT5</strong></p><hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="assets/images/product3.jpg" alt="San Francisco" style="width:100%;height: 204px;" class="img-responsive">
            <p><strong>PRODUCT6</strong></p><hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
    </div>
  </div>
</div> -->
<div class="container">
  <h2 class="text-center clr1 fntbold"> Our Products </h2>
  <div class="row mt-5">
      <div class="col-sm-3 col-md-3">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/images/turmeric2.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-center">Turmeric</h4>
              <p class="card-text">We are well known for whole sale suppliers and exporters of Turmeric in pieces and powder. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
              <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
            </div>
          </div>
        </div>
    
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/coriander2.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Coriander</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Coriander. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/cumin1.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Cumin</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Cumin. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/Fennel1.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Fennel</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Fennel. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/greencardamom2.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Green Cardamom</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Green Cardamom. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/toor_dal1.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Toor Dal</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Toor Dal. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/urad_dal1.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Urad Dal</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Urad Dal. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/images/cinnamon2.png"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Cinnamon</h4>
            <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Cinnamon. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing </p>
            <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
          </div>
        </div>
      </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/sesame1.png"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">White Sesame</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh White Sesame. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/onion1.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Onion</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Onion. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/tamrind1.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Tamrind</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh Tamrind. We can supply to various parts of India as well as abroad. We invite the local buyers from all over India. We export the product in its original form without chemical processing</p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/images/coconut1.jpeg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Coconut</h4>
          <p class="card-text">We are well known for whole sale suppliers and exporters of fresh coconuts of <strong>all maturities and different sizes</strong>, we can supply to various parts of India as well as abroad. We export the product in its original form without chemical processing </p>
          <p class="text-center "><button class="btn btn-rounded" (click)="redirectContact()">Enquire Now</button></p>
        </div>
      </div>
    </div>
  </div>
</div>